body {
    font-family: "Roboto", sans-serif;
    background-color: #FFFFFF;
    color: #434455;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
}

ol,
ul {
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
button {
    cursor: pointer;
}
.nav-list {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.nav-list-start {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    max-width: 320px;
    margin: 0 auto;
    padding: 0 16px;
}
@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}
@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;

    }
}
.nav-list-link, .contacts {
    display: none;
}
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}
.header-logo {
    padding: 16px 0;
    display: block;
}
.header-logo .accent-head {
    color: #2e2f42;
}
.burger-btn {
    padding: 0;
    background-color: transparent;
    border: none;
}
.burger-icon {
    display: block;
    fill: #2f2f37;
}
@media screen and (min-width: 768px) {
.burger-btn {
        display: none;
    }
.navigation {
    display: flex;
    align-items: center;
}
.nav-list-link {
        display: flex;
        align-items: center;
        gap: 40px;
    }
.nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link-studio {
    position: relative;
    color: #404bbf;
}
.nav-link-studio::after {
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}
.header-logo {
    padding: 24px 0;
    margin-right: 120px;
}
.address-container {
    display: flex;
    gap: 40px;
}
.contacts {
    display: block;
    font-style: normal;
}
.hero-button:hover,
.hero-button:focus {
    background-color: #404bbf;
}
.nav-link:hover,
.nav-link:focus,
.address-link:hover,
.address-link:focus {
    color: #404bbf;
}

}