body {
    font-family: "Roboto", sans-serif;
    background-color: #FFFFFF;
    color: #434455;
}
a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p, li {
    margin: 0;
}
ul {
    list-style: none;
    margin: 0;
}
ol,ul {
    padding-left: 0;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
.nav-list {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}
.nav-list-start {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}
.navigation {
    display: flex;
    align-items: center;
}
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}
.accent-head {
    color: #2e2f42;
}
.nav-list-link {
    display: flex;
    gap: 40px;
}

.nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link-studio {
    position: relative;
    color: #404bbf;
}
.nav-link-studio::after {
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}
.address-container {
    display: flex;
    gap: 40px;
}
.address-link {
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero {
    background-color: #2e2f42;
    padding: 188px 0 188px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
}
.hero-title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    max-width: 496px;
    margin: 0 auto 48px auto;
}
.hero-button {
    background-color: #4d5ae5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover,
.hero-button:focus {
    background-color: #404bbf;
}
.nav-link:hover,
.nav-link:focus,
.address-link:hover,
.address-link:focus {
    color: #404bbf;
}

.progect {
    padding: 120px 0 120px;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.progect-list {
    display: flex;
    gap: 24px;
}
.progect-list-object {
    flex-basis: calc((100% - 72px) / 4);
}
.icon-progect-list {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
}
.title-progect {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}
.name-progect {
    text-align: center;
    margin-bottom: 8px;
}
.text-progect {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.name-text-progect {
    text-align: center;
    margin-bottom: 8px;
}
.team {
    background-color: #f4f4fd;
    padding: 120px 0;

}
.team-our-agent {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}
.team-agent-list {
    display: flex;
    gap: 24px;
    flex-basis: calc((100% - 72px) / 4);
}
.team-agent {
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}
.team-agent-container {
    padding: 32px 0;
}

.list-icon-team-agent {
    display: flex;
    justify-content: center;
    gap: 24px;
}
.social-media-icons {
    width: 40px;
    height: 40px;
}
.link-social-media {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-team-agent {
    fill: #f4f4fd;
}
.link-social-media:hover,
.link-social-media:focus {
    background-color: #404bbf;
}
.portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
.portfolio-img-container {
    position: relative;
    overflow: hidden;
    display: block;
}
.portfolio-img {
    width: 100%;
    height: auto;
    display: block;
}
.hidden-paragraf {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    background-color: #4d5ae5;
    padding: 40px 32px;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list-object {
    cursor: pointer;
    width: calc((100% - 48px) / 3); 
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list-object:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
    transform: translateY(0%);
}
.portfolio-list-object:hover .hidden-paragraf {
    transform: translateY(0);
}
.portfolio-name-object {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}


.footer-page {
    background-color: #2e2f42;
    padding: 100px 0;
}
.footer-page .container {
    display: flex;
    align-items: baseline;
}
.container-logo {
    margin-right: 120px;
}
.footer-link {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-bottom: 16px;
}
.accent-footer {
    color: #f4f4fd;
}
.footer-paragraf {
    line-height: 1.5;
    color: #f4f4fd;
    letter-spacing: 0.02em;
    max-width: 264px;
}
.text-social-footer {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}
.social-list-footer {
    display: flex;
    gap: 16px;
}
.social-item-footer {
    width: 40px;
    height: 40px;
}
.social-icon-footer {
    fill: #f4f4fd;
}
.social-link-footer {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link-footer:hover,
.social-link-footer:focus {
    background-color: #31d0aa;
}
.name-form-footer {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    margin-bottom: 16px;
    letter-spacing: 0.02em;
    color:#FFFFFF;
}
.form-footer {
    display: flex;
    gap: 24px;
}
.entry-footer {
    width: 264px;
    height: 40px;
    border: 1px solid #FFFFFF;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #FFFFFF;
}
.entry-footer::placeholder {
    color: #FFFFFF;
}
.button-entry-footer {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    letter-spacing: 0.04em;
    font-weight: 500;
    line-height: 1.5;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    background-color: #4d5ae5;
}
.icon-telegram {
    margin-left: 16px;
}

.container-modal-window {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    min-height: 584px;
    width: 408px;
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
}

.modal-window-button {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-window-button:hover,
.modal-window-button:focus {
    background-color: #404bbf;
    border: none;
    fill: #FFFFFF;
}
.paragraf-modal-window {
    font-size: 16px;
    letter-spacing: 0.02em;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}
.container-form {
    margin-bottom: 8px;
}
.modal-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99;
    display: block;
    margin-bottom: 4px;
}
.modal-container {
    position: relative;
}
.icon-close {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus {
    border-color: #4d5ae5;
}
.modal-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus + .modal-icon {
    fill: #4d5ae5;
}
.container-comment {
     margin-bottom: 16px;
}
.textarea-comment {
    width: 100%;
    height: 120px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.04);
    border: 1px solid rgba(46, 47, 66, 0.04);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.textarea-comment:focus {
    border-color: #4d5ae5;
}